
body {
  background-color:white;
  color:black;
  padding:0px;
  margin:0px;
  font-size:100%;
  }
 .sm-header {
  /*display:flex;*/
  height: 50px;
  background-color:#536895;
  /*align-items:center;*/
  padding-top:0px;
  padding-bottom:0px;
  /*padding-right:10%;*/
  /*padding-left:2%;*/
 }
 img.logo {
  width:170px;
  padding-left: 2%;
  padding-bottom: 11px;
 }
.sm-blue {
  background: transparent;
  /*border-radius: 8px;*/
  border:0px;
  margin:0px;
  /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
}
.sm-blue a, .sm-blue a:focus, .sm-blue a:active {
  padding: 10px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  background: #536895;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
}
.sm-submenu a {
  background-color: white;
  color: #536895;
}
@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-blue ul {
    position: absolute;
    width: 12em;
  }

  .sm-blue li {
    float: left;
  }

  .sm-blue.sm-rtl li {
    float: right;
  }

  .sm-blue ul li, .sm-blue.sm-rtl ul li, .sm-blue.sm-vertical li {
    float: none;
  }

  .sm-blue a {
    white-space: nowrap;
  }

  .sm-blue ul a, .sm-blue.sm-vertical a {
    white-space: normal;
  }

  .sm-blue .sm-nowrap > li > a, .sm-blue .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */

body {
  background-color:white;
  color:black;
  padding:0px;
  margin:0px;
  font-size:100%;
}
 .sm-header {
  display:flex;
  height: 50px;
  /*justify-content:space-between;*/
  background-color: #536895;
  align-items:center;
  /*padding-top:0px;
  padding-bottom:0px;
  padding-right:25%;*/
  padding-left:2%;
 }
 img.logo {
  width:200px;
  padding-left: 0%;
  padding-bottom: 0px;
 }
  ul.sm-blue {
    /*display: flex;*/
    width: 75%;
    padding-left: 5%;
  }
 .sm-blue a {
  text-decoration:none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  padding-top:15.8px;
  padding-bottom:15.8px;
  padding-right:20px;
  padding-left:20px;

 }
 .sm-blue a:hover, .sm-blue a:focus {
   color:silver;
 }
 /*ul ul list style*/

 .sm-submenu a {
   color: #536895 !important;
   font-size: 16px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 20px;
 }
 .sm-submenu a:hover {
   color: white !important;
 }
 /*ul.sm-submenu {
   background-color: white;*/
 }

  .sm-blue ul {
    border: 1px solid #a8a8a8;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: #fff;
    border-radius: 0 0 4px 4px !important;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  }
  .sm-blue ul ul {
    border-radius: 4px !important;
    background: #fff;
  }
  .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active, .sm-blue ul a.highlighted {
    background: #536895; /*#3092c0;*/
    /*background-image: linear-gradient(to bottom, #3098c0, #2e8cb8);*/
    color: #fff;
  }
  li.work {
    float: right;
    border-top: 11.8px !important;
  }
  a.sm-btn {
   /*display:absolute;
   right: 5%;*/
   border: 2px;
   border-color: white;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 2px;
   padding-right: 2px;
   margin-top: 11.8;
   /*margin-bottom: 11.8;
   margin-left: 70%;
   order: 2;*/
  }
