 * {
  box-sizing: border-box;
}

td {
  padding: 7px;
  /*padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 7px;*/
}
/* If a table has vertical scrollbar you need to add */
/* plus 10px to generale width */

div.table-mobile-box {
  width:auto;
  margin-left: 0px;
  margin-right: 0px;
}

.table-scroll-box {
  
  width: 440px;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.table-scroll-box h2 {
  font-family: arial;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
div.humble-table {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  
  width: auto;
  
  max-height: 500px;
  overflow: auto;
  /*border-bottom: 1px solid silver;*/ 
  position: relative;
  border: none;
}
div.table-scroll-box:after {
  content: "";
  display: block;
  position: relative;
  
  width: 420px;
  
  border-top: 1px solid black;
  margin-top: 0px;
  top: -2px;
}
/* Calculated width */
.table-header-box {
  position: sticky; 
  position: -webkit-sticky; 
  top: 0px; 
  
  width: 420px;
}
.table-header-box table {
  
  width: auto; 
  
  background-color: #D6EEEE; 
  z-index: -1;
}
/* Calculated width */
.table-body {
  position: relative; 
  top: -1px; 
  
  width: 420px; 
  
  background-color: white; 
  z-index: -2;
}
.humble-table table, thead, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.humble-table th, td {
  padding: 5px;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}
.humble-table th, td, caption {
  font-family: arial;
  font-size: 16px;
}
.first-row td:nth-child(3) {
  text-align: center;
}
.second-row td:nth-child(3) {
  text-align: center;
}
div.sub-dir {
  right: 5px;
  top: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}
div.sub-dir.hide-arrow {
  display: none;
}
img.direct {
  height: 10px;
}
td.flip-arw2 > span {
  padding-left: 0px;
  padding-right: 12px;
  float: right;
  color: blue;
}

/*span.dir-arrow::before {
  content: ' ';
  border: solid #808080;
  border-width: 0 2px 2px 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  padding: 3px;
  margin-top: -10px;
  display: inline-block;*/
  /*top: 0;*/
  /*-webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.table-header-box .arrow-up span.dir-arrow::before {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
td.dir-arrow {
 position: relative;
}*/

@media (max-width: 500px) {

div.table-mobile-box {
  width:auto;
  margin-left: 12px;
  margin-right: 12px;
}
.table-scroll-box {
  width: 440;
  margin-left: 0px;
  margin-right: 0px;
}
div.humble-table {
  margin-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  width: 420;
  max-height: 300px;
  overflow: auto;
  border: 1px solid silver;
}
div.table-scroll-box:after {
  content: "";
  display: block;
  position: relative;
  width: 420;
  border-top: 1px solid silver;
  margin-top: 0px;
  top: -1px;
  margin-right: 16px;
}
.table-header-box {
  position: sticky; 
  position: -webkit-sticky; 
  top: 0px; 
  width: 420px;
}
.table-header-box table {
  width: 420px; 
  background-color: #D6EEEE; 
  z-index: -1;
}
.table-body {
  position: relative; 
  top: -1px; 
  width: 420px; 
  background-color: white; 
  z-index: -2;
}
.humble-table table, thead, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.humble-table th, td {
  padding: 5px;
}
.humble-table th, td, caption {
  font-family: arial;
  font-size: 16px;
}

}


